<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <div *ngIf="vehicle" class="panel panel-info">
      <div class="panel-heading">
        {{ vehicle.name }}
      </div>
      <div class="panel-body">

        <h2>Basics</h2>
        <ul>
          <li>Make: {{ vehicle.make.name }}</li>
          <li>Model: {{ vehicle.model.name }}</li>
          <li>Registered: {{ vehicle.isRegistered ? 'Yes' : 'No' }}
        </ul>
        <h2 *ngIf="vehicle.features.length > 0">Features</h2>
        <ul>
          <li *ngFor="let f of vehicle.features">{{ f.name }}</li>
        </ul>
        <h2><a routerLink="/user/{{ vehicle.user.userName }}">Contact</a></h2>
        <ul>
          <li>Contact Name: {{ vehicle.user.contact.firstName }} {{ vehicle.user.contact.lastName }}</li>
          <li *ngIf="vehicle.user.contact.phone">Contact Phone: {{ vehicle.user.contact.phone }}</li>
          <li>Contact Email: {{ vehicle.user.contact.email }}</li>
        </ul>
        <button class="btn btn-info btn-block" *ngIf="accountService.isLoggedIn() && accountService.currentUser.id == vehicle.user.id" (click)="deleteVehicle(vehicle.id)">Delete</button>
      </div>

    </div>

  </div>
</div>