<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">C A R S T O C K</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active current">
        <a routerLink="/home">Home</a>
      </li>
      <li *ngIf="accountService.isLoggedIn()" routerLinkActive="active current">
        <a routerLink="/vehicle/new">Create</a>
      </li>
      <li *ngIf="accountService.isLoggedIn()" routerLinkActive="active current">
          <a routerLink="/vehicles/{{ accountService.currentUser.sub }}">My Vehicles</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <p *ngIf="accountService.isLoggedIn()" class="navbar-text navbar-right">Signed in as <a routerLink="/user/{{ accountService.currentUser.sub }}">{{ accountService.currentUser.sub }}</a></p>
      <li *ngIf="!accountService.isLoggedIn()" routerLinkActive="active current">
        <a routerLink="/register">Sign up</a>
      </li>
      <li *ngIf="!accountService.isLoggedIn()" routerLinkActive="active current">
        <a routerLink="/login">Sign in</a>
      </li>
      <li *ngIf="accountService.isLoggedIn()" routerLinkActive="active current">
          <a (click)="accountService.logout()" style="cursor: pointer">Logout</a>
        </li>
    </ul>
  </div>
</nav>