<form [formGroup]="form">
  <div class="form-group">
    <label for="firstName">First name</label>
    <input formControlName="firstName" type="text" class="form-control" id="firstName">
  </div>
  <div class="form-group">
    <label for="lastName">Last name</label>
    <input formControlName="lastName" type="text" class="form-control" id="lastName">
  </div>
  <div class="form-group">
    <label for="username">User name</label>
    <input formControlName="username" type="text" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="text" class="form-control" id="password">
  </div>
  <div class="form-group">
      <label for="passwordAgain">Password Again</label>
      <input formControlName="passwordAgain" type="text" class="form-control" id="passwordAgain">
  </div>
  <div class="form-group">
      <label for="phone">Phone number</label>
      <input formControlName="phone" type="text" class="form-control" id="phone">
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>